# .htaccess
Options +FollowSymLinks
RewriteEngine On
RewriteBase /

# Only rewrite requests that are not files or directories
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ $1 [L]